.Forminfo .card-img-overlay{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.Forminfo img{
    filter: brightness(60%);
}
.infoContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 60%;
    font-size: .75em;
}
@media (min-width:768px) {
    .Forminfo{
        width: 80%;
        margin: auto;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    .Forminfo .card-img-overlay{
        padding: 2.5em;
    }
    .Forminfo .card-title{
        font-size: 2em;
    }
    .Forminfo .card-text{
        font-size: 1.5em;
    }
    .Forminfo .card-info{
        font-size: 2em;
    }
    .infoContainer{
        width: 70%;
        font-size: 1em;
    }
}