.FooterCss {
    background-color: var(--darkgreen);
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.iconoscontainer {
    display: flex;
    justify-content: space-evenly;
    gap: 5%;
}

.iconos {
    background-size: cover;
    height: 2em;
    width: 2em;
    opacity: 0.7;
    filter: invert();
    margin: 1em;
}

.facebook {
    background-image: url("./IMG/733603.png");
}

.instagram {
    background-image: url("./IMG/87390.png");
}

.whatsapp {
    background-image: url("./IMG/733641.png");
}

.messenger {
    background-image: url("./IMG/733604.png");
}

.footercontainer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    color: var(--lightgreen);
    opacity: 0.8;
    margin: 1rem 10% 2% 10%;
}

@media (max-width:768px) {
    .iconos {
        height: 1.2em;
        width: 1.2em;
    }

    .footercontainer {
        height: 260px;
        flex-direction: column;
        font-size: .6em;
        flex-wrap: wrap;
        text-align: left;
        justify-content: left;
    }

    .footercontainer h4 {
        font-size: 1rem
    }

    .footercontainer div {
        margin: .7rem;
    }
}