body{
    background-color: rgb(234, 255, 234);
}
.CarouselContainer{
    margin: auto;
    width: 75vw;
}
h2{
    text-align: center;
    color: darkorange;
    margin: 1rem 0 1rem 0;
}

@media (max-width:768px) {
    .FormContainer{
        flex-direction: column;
    }
}
